* {
    font-family: Roboto, Arial;
}

body {
    background-color: whitesmoke;
    background-image: url("https://freefrontend.com/assets/img/css-background-patterns/2023-another-css-pattern-2.png");
}

header {
    text-align: center;

}

.about, .technicalSkills, .myServices, .socialMedia, .forms {
    border: black 2px solid;
    border-style: solid;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    background-color: white;
}

.name {
    background-color: #566AF5;
    border: black 2.2px solid;
    border-style: solid;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    color: white;
}


li, p, ol, ul, h2, h3, a {
    background-color: white;
}

footer {
    text-align: center;

}