<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>CSS Layout</h1>
    <h2>Box-sizing Property Example</h2>
    <div class="box-content">
        <p>Content</p>
    </div>
    <br>

    <div class="box-border">
        <p>Border Box</p>
    </div>
    <br><br>

    <h2>Display Property Example</h2>
    <div class="block">Block Element</div>
    <span class="inline">Inline Element </span>
    <div class="inline-block">Inline Block Element</div>
    <br><br>

    <h2>Positioning Elements Example</h2>

    <div class="static">Static Position</div>

    <div class="relative">Relative Position</div>
    
    <div class="absolute">Absolute Position</div>

    <div class="fixed">Fixed Position</div>

    <div class="sticky">Sticky Position</div>
    <br><br>


    <h2>Floats and Clearing Floats Example</h1>

    <div>
        <div class="float-right">Float Right</div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore repellat placeat quasi libero enim non, neque quas soluta maiores. Consectetur, incidunt ad? Pariatur repellat, non consequuntur voluptates ab vitae soluta numquam cum odio! Nobis provident aut amet quasi perferendis cumque voluptas inventore excepturi aliquid quis! Omnis consectetur aut fuga debitis.
    </div>

    <div>
        <div class="float-left">
            Float Left
        </div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta sequi rem magni beatae dolorum porro laboriosam doloremque harum, et architecto pariatur cumque corporis eligendi maxime, assumenda ipsum. Perspiciatis recusandae dolore aliquid. Vel praesentium rem quam harum, aliquam animi velit dolorem fuga reiciendis ullam quidem cupiditate eum facere eaque maiores at.
    </div>

    <div class="clear-floats">Clear Floats</div>
    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum id corrupti sed adipisci nisi labore. Quos ratione facere magni beatae ut incidunt qui ipsa necessitatibus doloribus amet aliquam, culpa architecto deserunt, fugit numquam laudantium inventore similique quam assumenda sint! Magnam quaerat beatae earum quo rem asperiores sint repellendus laudantium reprehenderit!</div>


    <h2>Centering Elements Example</h2>
    <div class="parent-box"><div class="center-horizontal"><p>This box is horizontally centered.</p></div></div>
    <br><br><br><br>

    <div class="parent-box center-vertical">
        <div>
            <p style="margin: 0 auto;">This text is vertically centered.</p>
        </div>
    </div>

    <div class="parent-box center-horizontal-vertical">
        <div><p>This text is vertically and horizontally centered.</p></div>
    </div>

</body>
</html>