/* Box Sizing*/
body {
    font-family: roboto, Arial;
}

.box-content {
    width: 200px;
    height: 200px;
    padding: 30px;
    border: 2px solid black;
    background-color: lightgrey;
    box-sizing: content-box;
}

.box-border {
    width: 200px;
    height: 200px;
    padding: 20px;
    border: 2px solid black;
    background-color: lightblue;
    box-sizing: border-box;
}

/* Display property */
.block {
    display: block;
    background-color: lightpink;
    height: 100px;
    width: 200px;
    padding: 10px;
    margin: 10px;
}

.inline{
    display: inline;
    background-color: lightgreen;
    height: 100px;
    padding: 10px;
}

.inline-block{
    display: inline-block;
    width: 200px;
    height: 100px;
    background-color: lightsalmon;
}
/* Element Positioning */
.static {
    position: static;
    background-color: lightseagreen;
    width: 200px;
    height: 50px;
    margin-bottom: 20px;
}

.relative {
    position: relative;
    background-color: chartreuse;
    width: 200px;
    height: 50px;
    left: 80px
}

.absolute {
    position: absolute;
    background-color: bisque;
    width: 200px;
    height: 50px;
    top: 0px;
    left: 400px
}

.fixed {
    position: fixed;
    background-color: chartreuse;
    width: 200px;
    height: 50px;
    top: 0px;
    right: 20px;
}

.sticky {
    position: sticky;
    background-color: lightgoldenrodyellow;
    width: 200px;
    height: 50px;
    top: 20px;
    left: 20px;
}

.float-right {
    float: right;
    width: 200px;
    height: 200px;
    background-color: indianred;
}

.float-left {
    float: left;
    width: 200px;
    height: 200px;
    background-color: lightgoldenrodyellow;
}

.clear-floats {
    float: both;
    background-color: yellowgreen;
    padding: 10px;
} 

.parent-box {
    height: 200px;
    width: 300px;
    background-color: wheat;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    text-align: center;



}

.center-horizontal {
    padding: 20px;
    background-color:deepskyblue;
}

.center-vertical {
    background-color: cornsilk;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

}

.center-horizontal-vertical {
    background-color: peru;
    display: flex;
    align-items: center;
}